<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../404.css">
</head>
<body>
    <div class="main">
        <div class="space"></div>
        <h1>404</h1>
        <h2>Page not Found</h2>
    </div>
    </div>
</body>
</html>