<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../add.css">
</head>
<body onload="loading()">
    <div id="loader"></div>
    <section class="main" style="display:none;" id="content">
        <div class="pic"></div>
        <div class="details">
            <h1>Add a new Project</h1>
            <form method="post" role="form">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="module">Module</label>
                    <input type="text" id="module" name="module" required>
                </div>
                <div class="form-group">
                    <label for="due">Due Date</label>
                    <input type="text" id="due" name="due" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add">
                </div>
            </form>
        </div>
    </section>
    <script>
        var myVar;

        function loading() {
            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("content").style.display = "block";
        }
    </script>
</body>
</html>