<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../add.css">
</head>
<body onload="loading()">
    <div id="loader"></div>
    <div style="display:none;" id="content" class="animate-bottom">
    <div class="nav" id="myNav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <i class="fas fa-user-circle fa-6x" style="color: rgb(119, 118, 118);"></i>
            <h1>Welcome User!</h1>
            <a href="/"><i class="fas fa-tachometer-alt fa-1.8x"></i> Dashboard</a>
            <a href="/new"><i class="fas fa-plus-circle fa-1.8x"></i> Add Project</a>
            <a href="/remove"><i class="fas fa-minus-circle fa-1.8x"></i> Remove Project</a>
            <a href="#modify"><i class="fas fa-exchange-alt fa-1.8x"></i> Modify Project</a>
            <a href="#share"><i class="fas fa-share fa-1.8x"></i> Share Project</a>
            <a href="#completed"><i class="fas fa-list-ul fa-1.8x"></i> Completed</a>
            <a href="#settings"><i class="fas fa-cog fa-1.8x"></i> Settings</a>
            <a href="/login"><i class="fas fa-sign-out-alt fa-1.8x"></i> Logout</a>
        </div>
        <div class="icon-scroll" id="scroll-icon">
        <div class="icon-bar" onclick="openNav()" id="myIcons">
            <a href="#"><i class="fas fa-tachometer-alt"></i></a> 
            <a class="active" href="#"><i class="fas fa-plus-circle" style="color: #fff;"></i></a> 
            <a href="#"><i class="fas fa-minus-circle"></i></a> 
            <a href="#"><i class="fas fa-exchange-alt"></i></a>
            <a href="#"><i class="fas fa-share"></i></a>
            <a href="#"><i class="fas fa-list-ul"></i></a>
            <a href="#"><i class="fas fa-cog"></i></a>
            <a href="#"><i class="fas fa-sign-out-alt"></i></a>
        </div>
        </div>
    <div class="main" id="myMain">
        <div class="pic"></div>
        <div class="details">
            <h1>New Project</h1>
            <form method="post" role="form">
                <div class="form-group">
                    <input type="text" id="title" name="title" placeholder="Title" required>
                </div>
                <div class="form-group">
                    <input type="text" id="module" name="module" placeholder="Module" required>
                </div>
                <div class="form-group">
                    <input type="text" id="due" name="due" placeholder="Due date" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add">
                </div>
            </form>
        </div>
    </div>
    </div>
    <script>
        function openNav() {
            document.getElementById('scroll-icon').style.display = 'none';
            document.getElementById("myNav").style.width = "270px";
            document.getElementById("myMain").style.marginLeft = "300px";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0";
            document.getElementById("myMain").style.marginLeft= "250px";
            setTimeout(() => { document.getElementById('scroll-icon').style.display = 'block'; }, 1000);
        }

        var myVar;

        function loading() {
            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("content").style.display = "block";
        }
    </script>
</body>
</html>