<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../add.css">
</head>
<body>
    <section class="main">
        <div class="pic"></div>
        <div class="details">
            <h1>Add a new Project</h1>
            <form method="post" role="form">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="module">Module</label>
                    <input type="text" id="module" name="module" required>
                </div>
                <div class="form-group">
                    <label for="due">Due Date</label>
                    <input type="text" id="due" name="due" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Post project">
                </div>
            </form>
        </div>
    </section>
</body>
</html>