<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../edit.css">
</head>
<body onload="loading()">
    <div id="loader"></div>
    <h1 id="fetch">Opening in edit mode . . .</h1>
    <div style="display:none;" id="content" class="animate-bottom">
    <div class="nav" id="myNav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <i class="fas fa-user-circle fa-6x" style="color: rgb(119, 118, 118);"></i>
            <h1>Welcome {{user}}!</h1>
            <a href="#dashboard"><i class="fas fa-tachometer-alt fa-1.8x"></i> Dashboard</a>
            <a href="/new"><i class="fas fa-plus-circle fa-1.8x"></i> Add Project</a>
            <a href="/share"><i class="fas fa-share fa-1.8x"></i> Share Project</a>
            <a href="/complete"><i class="fas fa-list-alt fa-1.8x"></i> Completed</a>
            <a href="/incomplete"><i class="far fa-list-alt fa-1.8x"></i> Incomplete</a>
            <a href="#settings"><i class="fas fa-cog fa-1.8x"></i> Settings</a>
            <a href="/users/logout"><i class="fas fa-sign-out-alt fa-1.8x"></i> Logout</a>
        </div>
        <div class="icon-scroll" id="scroll-icon">
        <div class="icon-bar" id="myIcons">
            <a href="/dashboard"><i class="fas fa-tachometer-alt"></i></a> 
            <a href="/new"><i class="fas fa-plus-circle"></i></a> 
            <a href="/share"><i class="fas fa-share"></i></a>
            <a href="/complete"><i class="fas fa-list-alt"></i></a>
            <a href="/incomplete"><i class="far fa-list-alt"></i></a>
            <a href="#"><i class="fas fa-cog"></i></a>
            <a href="#" onclick="openNav()"><i class="fas fa-sign-out-alt"></i></a>
        </div>
        </div>
    <div class="main" id="myMain">
        <div class="pic"></div>
        <div class="details">
            <h1>Update Project</h1>
            {{#project}}
            <form method="post" role="form">
                <div class="form-group">
                    <input type="text" id="title" name="title" value="{{title}}" required>
                </div>
                <div class="form-group">
                    <input type="text" id="module" name="module" value="{{module}}" required>
                </div>
                <div class="form-group">
                    <input type="text" id="due" name="due" value="{{due}}" required>
                </div>
                <div class="form-group">
                    <input type="text" id="status" name="status" value="{{status}}" required>
                </div>
                <div class="form-group">
                    <input type="text" id="completion" name="completion" value="{{completion}}">
                </div>
                <div class="form-group" id="ckedit">
                    <label for="milestones">Milestones:</label>
                    <textarea id="milestones" name="milestones" required>{{milestones}}</textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update">
                </div>
            </form>
            {{/project}}
        </div>
    </div>
    </div>
    <script>
        function openNav() {
            document.getElementById('scroll-icon').style.display = 'none';
            document.getElementById("myNav").style.width = "270px";
            document.getElementById("myMain").style.marginLeft = "300px";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0";
            document.getElementById("myMain").style.marginLeft= "250px";
            setTimeout(() => { document.getElementById('scroll-icon').style.display = 'block'; }, 1000);
        }

        var myVar;

        function loading() {
            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("fetch").style.display = "none";
            document.getElementById("content").style.display = "block";
        }
    </script>
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
      integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" 
      crossorigin="anonymous">
    </script>
    <script>
    CKEDITOR.replace('milestones', {
      plugins: 'wysiwygarea, toolbar, basicstyles, link'
      })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
        const options = {
            bottom: '64px', // default: '32px'
            right: '32px', // default: '32px'
            left: 'unset', // default: 'unset'
            time: '0.5s', // default: '0.3s'
            mixColor: '#fff', // default: '#fff'
            backgroundColor: '#fff',  // default: '#fff'
            buttonColorDark: '#100f2c',  // default: '#100f2c'
            buttonColorLight: '#fff', // default: '#fff'
            saveInCookies: true, // default: true,
            label: '🌓', // default: ''
            autoMatchOsTheme: true // default: true
        }
    
        const darkmode = new Darkmode(options);
        darkmode.showWidget();
  </script>
</body>
</html>