<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../style.css">
</head>
<body onload="loading()">
    <div id="loader"></div>
    <h1 id="fetch">Fetching projects . . .</h1>
    <div style="display:none;" id="content" class="animate-bottom">
        <div class="nav" id="myNav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <i class="fas fa-user-circle fa-6x" style="color: rgb(119, 118, 118);"></i>
            <h1>Welcome User!</h1>
            <a href="#dashboard"><i class="fas fa-tachometer-alt fa-1.8x"></i> Dashboard</a>
            <a href="/new"><i class="fas fa-plus-circle fa-1.8x"></i> Add Project</a>
            <a href="/remove"><i class="fas fa-minus-circle fa-1.8x"></i> Remove Project</a>
            <a href="#modify"><i class="fas fa-exchange-alt fa-1.8x"></i> Modify Project</a>
            <a href="#share"><i class="fas fa-share fa-1.8x"></i> Share Project</a>
            <a href="#completed"><i class="fas fa-list-ul fa-1.8x"></i> Completed</a>
            <a href="#settings"><i class="fas fa-cog fa-1.8x"></i> Settings</a>
            <a href="/login"><i class="fas fa-sign-out-alt fa-1.8x"></i> Logout</a>
        </div>
        <div class="icon-scroll" id="scroll-icon">
        <div class="icon-bar" onclick="openNav()" id="myIcons">
            <a class="active" href="#"><i class="fas fa-tachometer-alt" style="color: #fff;"></i></a> 
            <a href="#"><i class="fas fa-plus-circle"></i></a> 
            <a href="#"><i class="fas fa-minus-circle"></i></a> 
            <a href="#"><i class="fas fa-exchange-alt"></i></a>
            <a href="#"><i class="fas fa-share"></i></a>
            <a href="#"><i class="fas fa-list-ul"></i></a>
            <a href="#"><i class="fas fa-cog"></i></a>
            <a href="#"><i class="fas fa-sign-out-alt"></i></a>
        </div>
        </div>
        <div class="main" id="myMain">
            <h1>My {{heading}}</h1>
            <h3 class="date">{{date}}</h3>
            <div class="card-cont">
                {{#projects}}
                    <div class="card">
                        <h1 class="tit">{{title}}</h1>
                        <h2><strong>Module:</strong> {{module}}</h2>
                        <h2><strong>Due Date:</strong> {{due}}</h2>
                        <h2><strong>Completion Date:</strong></h2>
                        <div class="remove">
                            <i class="fas fa-times fa-lg"></i>
                        </div>
                        <div class="check">
                            <i class="fas fa-check fa-lg"></i>
                        </div>
                    </div>
                {{/projects}}
            </div>
            {{^projects}}
                <i class="fas fa-tasks fa-8x" style="color: #7684FA;"></i> 
                <h3 class="try">Try adding some projects to see them here</h3>
            {{/projects}}
        </div>
    </div>
    <script>
        function openNav() {
            document.getElementById('scroll-icon').style.display = 'none';
            document.getElementById("myNav").style.width = "270px";
            document.getElementById("myMain").style.marginLeft = "270px";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0";
            document.getElementById("myMain").style.marginLeft= "100px";
            setTimeout(() => { document.getElementById('scroll-icon').style.display = 'block'; }, 1000);
        }

        var myVar;

        function loading() {
            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("fetch").style.display = "none";
            document.getElementById("content").style.display = "block";
        }
    </script>
</body>
</html>