<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../view.css">
</head>
<body onload="loading()">
    <div id="loader"></div>
    <div style="display:none;" id="content" class="animate-bottom">
    <div class="nav" id="myNav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <i class="fas fa-user-circle fa-6x" style="color: rgb(119, 118, 118);"></i>
            <h1>Welcome {{user}}!</h1>
            <a href="/dashboard"><i class="fas fa-tachometer-alt fa-1.8x"></i> Dashboard</a>
            <a href="/new"><i class="fas fa-plus-circle fa-1.8x"></i> Add Project</a>
            <a href="/share"><i class="fas fa-share fa-1.8x"></i> Share Project</a>
            <a href="/complete"><i class="fas fa-list-alt fa-1.8x"></i> Completed</a>
            <a href="/incomplete"><i class="far fa-list-alt fa-1.8x"></i> Incomplete</a>
            <a href="#settings"><i class="fas fa-cog fa-1.8x"></i> Settings</a>
            <a href="/users/logout"><i class="fas fa-sign-out-alt fa-1.8x"></i> Logout</a>
        </div>
        <div class="icon-scroll" id="scroll-icon">
        <div class="icon-bar" id="myIcons">
            <a href="/dashboard"><i class="fas fa-tachometer-alt"></i></a> 
            <a href="/new"><i class="fas fa-plus-circle"></i></a> 
            <a href="/share"><i class="fas fa-share"></i></a>
            <a href="/complete"><i class="fas fa-list-alt"></i></a>
            <a href="/incomplete"><i class="far fa-list-alt"></i></a>
            <a href="#"><i class="fas fa-cog"></i></a>
            <a href="#" onclick="openNav()"><i class="fas fa-sign-out-alt"></i></a>
        </div>
        </div>
    <div class="main" id="myMain">
        {{#project}}
        <h1>{{title}}</h1>
        <h2><strong>Module:</strong> {{module}}</h2>
        <h2><strong>Due Date:</strong> {{due}}</h2>
        <h2><strong>Status:</strong> {{status}}</h2>
        <h2><strong>Completion Date:</strong> {{completion}}</h2>
        <h2><strong>Milestones:</strong> {{milestones}}</h2>
        {{/project}}
    </div>
    </div>
    <script>
        function openNav() {
            document.getElementById('scroll-icon').style.display = 'none';
            document.getElementById("myNav").style.width = "270px";
            document.getElementById("myMain").style.marginLeft = "300px";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0";
            document.getElementById("myMain").style.marginLeft= "250px";
            setTimeout(() => { document.getElementById('scroll-icon').style.display = 'block'; }, 1000);
        }

        var myVar;

        function loading() {
            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("content").style.display = "block";
        }
    </script>
</body>
</html>