<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../welcome.css">
</head>
<body>
    <div class="main">
        <div class="space"></div>
        <h1>Experience To-Do</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
        <a id="login" href="#dashboard">Login</a>
        <a href="#dashboard">Sign Up</a>
    </div>
    </div>
</body>
</html>