<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../welcome.css">
</head>
<body>
    <div class="main">
        <div class="space"></div>
        <h1>Experience To-Do</h1>
        <h2>Coping with many coursework deliverables is a stressful part of every student's life. Immerse yourself in this specially design web based coursework scheduling application and say goodbye to missing deadlines.</h2>
        <a id="login" href="/users/login">Login</a>
        <a href="/users/register">Sign Up</a>
    </div>
    </div>
</body>
</html>